<% layout('../layouts/boilerplate.ejs') -%>
    <div class="row">
        <h1 class="text-center">Modifica il campeggio:</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post">
                <div class="my-3">
                    <label class="form-label" for="title">Titolo:</label>
                    <input class="form-control" id="title" name="title" type="text" value="<%= camp.title %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Località:</label>
                    <input class="form-control" id="location" name="location" type="text" value="<%= camp.location %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Immagine (URL):</label>
                    <input class="form-control" id="image" name="image" type="text" value="<%= camp.image %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Prezzo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="pricelabel">€</span>
                        </div>
                        <input id="price" type="number" class="form-control" placeholder="0.00" aria-label="Price"
                            aria-describedby="pricelabel" name="price" min="0" value="<%= camp.price %>">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Descrizione:</label>
                    <textarea class="form-control" name="description"
                        id="description"><%= camp.description %></textarea>
                </div>
                <button class="btn btn-info">Modifica!</button>
            </form>
            <div class="mt-3">
                <a class="btn btn-primary" role="button" href="/campgrounds/<%= camp._id %>">Indietro!</a>
            </div>
        </div>
    </div>
