<% layout('../layouts/boilerplate.ejs') -%>
    <h1>
        <%= camp.title %> - <b>
                <%= camp.location %>
            </b>
    </h1>
    <h2 style="display: inline;">
        € <%= camp.price %> / </h2>
    <h3 style="display: inline;">a notte</h3>
    <p>
        <%= camp.description %>
    </p>
    <button><a href="/campgrounds">Indietro!</a></button>
    <button><a href="/campgrounds/<%= camp._id %>/edit">Modifica</a></button>
    <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="post">
        <button>Elimina</button>
    </form>
