<% layout('layouts/boilerplate') -%>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= camp.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= camp.title %>
                    </h5>
                    <p class="card-text">
                        <%= camp.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= camp.location %>
                    </li>
                    <li class="list-group-item">€ <%= camp.price %> / a notte</li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= camp._id %>/edit" class="card-link btn btn-info">Modifica</a>
                    <form class="d-inline" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Elimina</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-10">
                            2 giorni fa
                        </div>
                        <div class="col-2">
                            <a href="/campgrounds">Indietro!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Lascia una recensione!</h2>
            <form action="/campgrounds/<%=camp._id %>/reviews" method="post" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Voto:</label>
                    <input class="form-range" type="range" min="1" max="5" id="rating" name="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Recensione:</label>
                    <textarea class="form-control" cols="30" rows="3" name="body" id="body" required></textarea>
                    <div class="valid-feedback">
                        Molto bene!
                    </div>
                </div>
                <button class="btn btn-success">Invia</button>
            </form>
            <% for(let review of camp.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Voto: <%= review.rating %>
                        </h5>
                        <p class="card-text">Recensione: <%= review.body %>
                        </p>
                        <form action="/campgrounds/<%=camp._id %>/reviews/<%=review._id %>?_method=DELETE" method="post">
                            <button class="btn btn-sm btn-danger">Elimina</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
